In [6]:
import numpy as np
import tensorflow as tf
import pandas as pd
import keras
import random
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'tensorflow'

In [17]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [18]:
df = pd.read_csv("C:\\Users\\admin\\Desktop\\Datasets\\DATADATADATA.csv")
#Classify Stars-0, Galaxy-1
df.head(20)

           u         g         r         i         z  class
0   19.47406  17.04240  15.94699  15.50342  15.22531      0
1   18.66280  17.21449  16.67637  16.48922  16.39150      0
2   19.38298  18.19169  17.47428  17.08732  16.80125      1
3   17.76536  16.60272  16.16116  15.98233  15.90438      0
4   17.55025  16.26342  16.43869  16.55492  16.61326      0
5   19.43133  18.46779  18.16451  18.01475  18.04155      0
6   19.38322  17.88995  17.10537  16.66393  16.36955      1
7   18.97993  17.84496  17.38022  17.20673  17.07071      0
8   17.90616  16.97172  16.67541  16.53776  16.47596      0
9   18.67249  17.71375  17.49362  17.28284  17.22644      1
10  19.29772  17.80227  17.18266  16.92335  16.79928      0
11  18.83307  17.51785  16.94273  16.71418  16.60521      0
12  19.56250  18.19113  17.65759  17.47573  17.39203      0
13  19.57990  17.72815  16.98740  16.68076  16.50426      0
14  19.25667  17.54869  16.63578  16.14922  15.76639      1
15  19.05958  18.09512  17.92766  17.89270  17.90772      0
16  19.04397  17.51106  16.87335  16.61114  16.48303      0
17  17.81661  16.86976  16.53884  16.19576  16.08668      1
18  19.39320  18.48274  18.16551  18.05122  18.04328      0
19  17.51339  16.41793  16.06695  15.93751  15.89478      0

In [19]:
dataset = df.values
dataset

x = dataset[:,0:5]
y = dataset[:,5]


from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
x_scale = min_max_scaler.fit_transform(x)
x_scale

array([[0.97185518, 0.56112195, 0.43198054, 0.25746008, 0.36884444],
       [0.790138  , 0.59074937, 0.53554932, 0.34013971, 0.50666166],
       [0.95145383, 0.75898645, 0.64884905, 0.39030271, 0.55508482],
       ...,
       [0.49958673, 0.45475487, 0.448834  , 0.2923536 , 0.4430208 ],
       [0.36130194, 0.31795292, 0.33645866, 0.2285826 , 0.35679981],
       [0.8873849 , 0.57145858, 0.44132243, 0.26238915, 0.36384554]])

In [20]:
x_train, x_val_and_test, y_train, y_val_and_test = train_test_split(x_scale, y, test_size=0.2)

x_val, x_test, y_val, y_test = train_test_split(x_val_and_test, y_val_and_test, test_size=0.5)


print(x_train.shape, x_val.shape, x_test.shape, y_train.shape, y_val.shape, y_test.shape)
y_test

(736, 5) (92, 5) (92, 5) (736,) (92,) (92,)

array([0., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 1.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0.,
       1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 0., 1., 1., 0.])

In [2]:
model = keras.models.Sequential()

model.add(keras.layers.Dense(32, activation='relu', input_shape=(5,)))
model.add(Dropout(0.3))
model.add(keras.layers.Dense(32, activation='relu'))
model.add(Dropout(0.3))
model.add(keras.layers.Dense(2, activation= 'sigmoid'))
          
model.compile(loss = 'sparse_categorical_crossentropy', optimizer = 'adam', metrics=['accuracy'])

NameError: name 'keras' is not defined

In [3]:
hist = model.fit(x_train, y_train,
          batch_size=32, epochs=1000,shuffle = True,
          validation_data=(x_val, y_val))

NameError: name 'model' is not defined

In [4]:
plt.plot(hist.history['loss'])
plt.plot(hist.history['val_loss'])
plt.title('Model loss')
plt.ylabel('Loss')
plt.xlabel('Epoch')
plt.legend(['Train', 'Val'], loc='upper right')
plt.show()

NameError: name 'plt' is not defined

In [5]:
plt.plot(hist.history['accuracy'])
plt.plot(hist.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

NameError: name 'plt' is not defined

In [ ]:
predictions = model.predict(x_test)

In [ ]:
rounded_predictions = model.predict_classes(x_test)

In [ ]:
results = confusion_matrix(y_test, rounded_predictions)
print(results)

In [ ]:
precision = precision_score(y_test, rounded_predictions)
print('Precision: %f' % precision)

In [ ]:
recall = recall_score(y_test, rounded_predictions)
print('Recall: %f' % recall)

In [ ]:
f1 = f1_score(y_test, rounded_predictions)
print('F1 score: %f' % f1)